body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-top: 15%;
  width: 300px;
  height: 300px;
  margin: auto;
}

.email {
  padding-top: 6%;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.password {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.iniciemos {
  padding-top: 7%;
  width: 100%;
  
  font-size: 21px;
  --background: rgb(49, 22, 199);
  padding-left: 10%;
  padding-right: 10%;
}

.iniciemos:active{
  --background: rgb(61, 31, 231);
}

.recuperar {
  margin-top: 8%;
  padding-left: 19%;
  padding-right: 5%;
}

.recuperar ion-label:active {
  color: rgb(61, 31, 231);
  text-decoration: underline;
  width: 100%;
  
}

.unete {
  
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
  width: 100%;
 
  font-size: 20px;
  --background: rgb(177, 177, 177);
}

.containerlogs{
  padding-left: 10%;
  padding-right: 10%;
}