
.logo{
  margin-top: 15%;
  width: 300px;
  height: 300px;
  margin-left: 14%;
  margin-right: 14px;
}
.email{
  padding-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
}

.password{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.iniciemos{
  margin-left: 14%;
  margin-top: 10%;
  width: 300px;
  font-size: 20px;
  --background: gray;
}
.unete{
  
  margin-left: 14%;
  margin-top: 10%;
  width: 300px;
  font-size: 20px;
  --background: gray;
}


.recuperar{
  margin-top: 8%;
  margin-left: 20%;
}
