<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm ">
    <div class="container">
      <ion-img src="assets/logo.jpeg" alt="Logo" class="logo"></ion-img>
      <div class="email">
        <ion-input 
          formControlName="email" 
          label="Correo" 
          label-placement="floating" 
          fill="outline">
        </ion-input>
      </div>
      <div class="password">
        <ion-input 
          formControlName="password" 
          label="Contraseña" 
          label-placement="floating" 
          fill="outline" 
          type="password">
        </ion-input>
      </div>
      <ion-button class="iniciemos" (click)="login()">
        iniciemos
      </ion-button>
      <div class="recuperar">
        <ion-label routerLink="/recuperar">
          ¿Has olvidado tu Contraseña?
        </ion-label>
      </div>
      <ion-button routerLink="/registro" class="unete">
        unete a nosotros
      </ion-button>
    </div>
  </form>
</ion-content>
