

.container {
  display: flex;
  padding: 0; /* Evita el padding innecesario */
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}

.logo {
  width: 300px;
  height: 300px;
  margin: auto;
}

.usuario,
.email,
.numero,
.password{
  padding-top: 7%;
}
.datos{
  padding-left: 10%;
  padding-right: 10%;
}

.button {
  width: 100%;
  padding-top: 8%;
  text-transform: capitalize;
  font-size: 23px;
  --background: rgb(61, 31, 231);
  padding-bottom: 8%;
}

.back {
  padding-top: 6%;
  padding-left: 5%;
}